{% extends 'aplicacion/base.html' %}
{% load static %}
 
 
{% block title %}
Un poco de Maria Pereyra, la persona detras de esta entrega

{% endblock title %}

{% block subtitle %}
Acerca de Mi
{% endblock subtitle %}

{% block 1 %}

<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Maria Pereyra</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'aplicacion/assets/img/about/1.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2015-2019</h4>
                        <h4 class="subheading">Estudie Contador Público</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted"></p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'aplicacion/assets/img/about/2.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2019-2020</h4>
                        <h4 class="subheading">Complete Administración de Empresas</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted"></p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'aplicacion/assets/img/about/3.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2021</h4>
                        <h4 class="subheading">CFA - Examen de Finanzas</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted"></p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'aplicacion/assets/img/about/4.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2023</h4>
                        <h4 class="subheading">Python y Power Bi  </h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Empece a trabajar con Power Bi, me comenzó a intrigar Data Analytics y me anoté al curso de Python de CoderHouse</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        
                        <br />
                       HOY
                        <br />
                       
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock 1 %}