{% extends 'aplicacion/base.html' %}
{% load static %}

{% block title %}
Cargar Avatar
{% endblock title %}

{% block subtitle %}
Cargar Avatar Aquí
{% endblock subtitle %}

{% block 1 %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
       editar
    </title>
</head>
<body>
    <h2> 
        editar
        
    </h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_p}}
        </table>
        <button type="submit"> Actualizar </button>
    </form>
    
</body>
</html>

{% endblock 1 %}