{% extends 'aplicacion/base.html' %}
{% load static %}
 
 
{% block title %}
Clientes
{% endblock title %}

{% block subtitle %}
Clientes que confiaron en nosotros
{% endblock subtitle %}

{% block 1 %}
<a 
href="{% url 'createClientes' %}"
class="btn btn-primary btn-sm"
><i class="fa fa-plus fa-lg" title="New Record"> </i>
</a>
{% for cliente in clientes %}
<div class="row text-center">
    <div class="col-md-12">
        <!-- Portfolio item 1-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="{% static 'aplicacion/assets/img/portfolio/1.jpg' %}" alt="..." />
            </a>
            <div class="portfolio-caption">
                <div class="portfolio-caption-heading">{{cliente.nombre}}</div>
                <div class="portfolio-caption-subheading text-muted">{{cliente.servicio_contratado}}</div>
            </div>
        </div>
    </div>
    <a 
    href="{% url 'updateClientes' cliente.id %}"
    class="btn btn primary"
    ><i class="fa fa-edit fa-sm" title="Edit Record"> </i>
    </a>
    <a 
    href="{% url 'deleteClientes' cliente.id %}"
    class="btn btn primary"
    ><i class="fa fa-trash fa-sm" title="Delete Record"> </i>
    </a>
    {% endfor cliente in clientes %}
    {% endblock 1 %}