{% extends 'aplicacion/base.html' %}
{% load static %}
 
 
{% block title %}
Eventos
{% endblock title %}

{% block subtitle %}
Eventos
{% endblock subtitle %}

{% block 1 %}
<a 
href="{% url 'createEventos' %}"
class="btn btn-primary btn-sm"
><i class="fa fa-plus fa-lg" title="New Record"> </i>
</a>
{% for evento in eventos %}
<div class="row text-center">
    <div class="col-md-12">
        <!-- Portfolio item 1-->
        <div class="portfolio-item">            
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>            
            
            <div class="portfolio-caption">
                <div class="portfolio-caption-heading">{{evento.nombre}}</div>
                <div class="portfolio-caption-subheading text-muted">{{evento.tipo}}</div>
            </div>
        </div>
    </div>
</div>
    <a 
    href="{% url 'updateEventos' evento.id %}"
    class="btn btn primary"
    ><i class="fa fa-edit fa-sm" title="Edit Record"> </i>
    </a>
    <a 
    href="{% url 'deleteEventos' evento.id %}"
    class="btn btn primary"
    ><i class="fa fa-trash fa-sm" title="Delete Record"> </i>
    </a>
    {% endfor evento in eventos %}
    {% endblock 1 %}